*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  */
.swiper {
    width: 100%;
    margin: 20px auto;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
  }

  .swiper-slide {
    text-align: center;
    font-size: 0px;
    background: #fff;

    background-image: url(./img/1.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    transform: scale(0.6) !important;
    transition: transform 0.5s;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide.swiper-slide-active {
    transform: scale(1) !important;
  }

  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }

  .append-buttons a {
    display: inline-block;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }
  
  .swiper-pagination {
    position: unset;
    margin-top: 15px;
  }

  h1, h2 {
    background-color: rgba(246, 167, 167, 0.607);
    text-align: center;
    padding: 3px 5px;
    font-size: 16px;
  }

  h1:nth-child(3), h2 {
    margin-top: 20px;
  }

  .first {
    opacity: 0;
    transition: 1s;
  }

  .second {
    opacity: 0;
    transition: 1s;
  }